* {  padding: 0; margin: 0; }
body { line-height: 1; }
#debug1 {display: block; }
fieldset,img { border: 0; }
address,caption,cite,code,dfn,th,var { font-weight: normal; font-style: normal; }
ol,ul,li { list-style: none; }
caption,th { text-align: left; }
h1,h2,h3,h4,h5,h6 { font-weight: normal; font-size: 100%; }
q:before,q:after { content:''; }
abbr,acronym { border: 0; }
a { text-decoration: none; outline: none; }
a span { cursor: pointer; }
input, textarea, select { font-family: Arial,Arial, Helvetica, sans-serif; font-size: 12px; }
.clearFix { clear: both; }
.floatcontainer:after,.fc:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.floatcontainer,.fc {display: inline-block;}
/* Hides from IE-mac \*/
* html .floatcontainer , *html .fc{height: 1%;}
.floatcontainer,.fc {display: block;}
/* End hide from IE-mac */
/*
     FILE ARCHIVED ON 11:33:38 Jun 14, 2017 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 11:56:01 Dec 03, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 124.251
  exclusion.robots: 0.114
  exclusion.robots.policy: 0.106
  RedisCDXSource: 1.779
  esindex: 0.013
  LoadShardBlock: 95.486 (3)
  PetaboxLoader3.datanode: 86.339 (5)
  CDXLines.iter: 23.781 (3)
  load_resource: 244.426 (2)
  PetaboxLoader3.resolve: 161.741 (2)
*/