/* RadMenu Default skin */

.RadMenu_Moonsite 
{
	text-align: left;
}

.RadMenu_Moonsite_rtl
{
	
}
.RadMenu_rtl{
	float:left !important;
}

.RadMenu_Moonsite_Context
{
	background: none;
	border: 0;
}

.RadMenu_Moonsite a
{
	text-decoration: none;
	
	
}

.RadMenu_Moonsite a:hover
{
	color:white;
}
.RadMenu_Moonsite .rmHorizontal .rmItem{

	padding:0;
}

.RadMenu_Moonsite .rmLink
{
	line-height: 21px;
	padding: 0 !important	;
	display: block;
	border-top: 2px solid transparent;
}

.RadMenu_Moonsite .rmExpanded
{
	z-index: 10000;
}


.RadMenu_Moonsite .rmLink:hover,
.RadMenu_Moonsite .rmFocused,
.RadMenu_Moonsite .rmExpanded,
.RadMenu_Moonsite .selectedmenunode
{
border-top:2px solid #1BAEC5;
	outline: 0;
}

.RadMenu_Moonsite .rmLink .rmText
{
	 font-weight:bold;
	 color:#002d42;
	 padding: 0 !important	;
}

.RadMenu_Moonsite .rmLink .rmText 
.RadMenu_Moonsite .rmText
{


}
.RadMenu_Moonsite .rmLink:hover .rmText,
.RadMenu_Moonsite .rmFocused .rmText,
.RadMenu_Moonsite .rmExpanded .rmText
{
color:#021e45;

}
.RadMenu_Moonsite .rmGroup
{

	background-color: #faf6f3;
	border:1px solid #eeecea;

	
	


}

.RadMenu_Moonsite .rmGroup .rmLink
{
	
	margin: 1px 0 2px 0;
	padding: 0! !important;
		border: none;

	
}
.RadMenu_Moonsite .rmGroup .rmLink:hover{

}
.RadMenu_Moonsite_rtl .rmGroup .rmLink
{

}

.RadMenu_Moonsite .rmGroup  .rmLink .rmText
{
	font-size: 12px;
	padding: 4px 23px  4px 7px !important;
	white-space: normal;
	color:#4f4f4f;
	line-height: 16px;
	font-size: 12px;
	font-weight: normal;
		width:150px;
	margin: 0 6px 0 6px;


}


.RadMenu_Moonsite .rmGroup .rmLink:hover ,
.RadMenu_Moonsite .rmGroup .rmFocused ,
.RadMenu_Moonsite .rmGroup .rmExpanded {
border: none;

	}

.RadMenu_Moonsite .rmGroup .rmLink:hover .rmText,
.RadMenu_Moonsite .rmGroup .rmFocused .rmText,
.RadMenu_Moonsite .rmGroup .rmExpanded .rmText
{
	
	background-color: #b0d5cc;
}

.RadMenu_Moonsite .rmGroup li
{

    
}
.RadMenu_Moonsite .rmGroup li.rmFirst{
	margin-top:6px;
}
.RadMenu_Moonsite .rmGroup li.rmLast{

	padding-bottom: 6px;
}

/* <expand arrows styling> */

.RadMenu_Moonsite .rmGroup .rmLink .rmExpandRight
{
	background: transparent url(/web/20170614143708im_/http://www.paz.co.il/images/menuArrow.png) no-repeat right 8px;
}

.RadMenu_Moonsite .rmGroup .rmLink .rmExpandLeft
{
/*	background: transparent url(/web/20170614143708im_/http://www.paz.co.il/Moonsite/Menu/ArrowExpandRTL.gif) no-repeat left -3px;*/
}

.RadMenu_Moonsite .rmGroup .rmLink:hover .rmExpandRight,
.RadMenu_Moonsite .rmGroup .rmFocused .rmExpandRight,
.RadMenu_Moonsite .rmGroup .rmExpanded .rmExpandRight
{
/*	background-image: url(/web/20170614143708im_/http://www.paz.co.il/Moonsite/Menu/ArrowExpandHovered.gif);*/
}

.RadMenu_Moonsite .rmGroup .rmLink:hover .rmExpandLeft,
.RadMenu_Moonsite .rmGroup .rmFocused .rmExpandLeft,
.RadMenu_Moonsite .rmGroup .rmExpanded .rmExpandLeft
{
	background-image: url(/web/20170614143708im_/http://www.paz.co.il/Moonsite/Menu/ArrowExpandHoveredRTL.gif);
}

/* </expand arrows styling> */

.RadMenu_Moonsite .rmHorizontal .rmItem {  }
.RadMenu_Moonsite .rmHorizontal .rmLast { border-right: 0; }

.RadMenu_Moonsite .rmVertical .rmItem { 
/*border-bottom: 1px solid #353535; */
}

.RadMenu_Moonsite .rmVertical .rmLast { 
	border-bottom: 0; 

	


}
.RadMenu_Moonsite .rmVertical .rmFirst { 


border-bottom: 0; }

.RadMenu_Moonsite_rtl .rmHorizontal .rmItem { border-left: 0; }

.RadMenu_Moonsite .rmRootGroup .rmGroup .rmItem,
.RadMenu_Moonsite_Context .rmGroup .rmItem
{
border-right: 0;


}



.RadMenu_Moonsite .rmGroup .rmExpanded
{
	z-index: 11;
}

.RadMenu_Moonsite .rmTopArrowDisabled,
.RadMenu_Moonsite .rmBottomArrowDisabled,
.RadMenu_Moonsite .rmLeftArrowDisabled,
.RadMenu_Moonsite .rmRightArrowDisabled
{
	display: none;
}

.RadMenu_Moonsite .rmTopArrow,
.RadMenu_Moonsite .rmBottomArrow,
.RadMenu_Moonsite .rmLeftArrow,
.RadMenu_Moonsite .rmRightArrow
{
	font-size: 0;
	line-height:29px;

}

.RadMenu_Moonsite .rmTopArrow,
.RadMenu_Moonsite .rmBottomArrow
{
	height: 10px;
	width: 100%;

}

.RadMenu_Moonsite .rmBottomArrow
{
	background-position: center -18px;
}

.RadMenu_Moonsite .rmLeftArrow,
.RadMenu_Moonsite .rmRightArrow
{
	width: 10px;
	height: 100%;
	background: #fff url(/web/20170614143708im_/http://www.paz.co.il/Moonsite/Menu/ArrowScrollLeftRight.gif) no-repeat left center;
}

.RadMenu_Moonsite .rmRightArrow
{
	background-position: -18px center;
}

.RadMenu_Moonsite .rmItem .rmDisabled .rmText
{
	
}

.RadMenu_Moonsite .rmRootGroup .rmItem .rmDisabled
{
	background: none;
}

.RadMenu_Moonsite .rmGroup .rmItem .rmDisabled
{
	background-color: #fff;
}

.RadMenu_Moonsite .rmRootGroup .rmSeparator,
.RadMenu_Moonsite .rmGroup .rmSeparator
{

	line-height: 16px;
	border-bottom: 0;

}

.RadMenu_Moonsite .rmSeparator .rmText
{


	
	
}

.RadMenu_Moonsite .rmHorizontal .rmSeparator
{

color:black !important	;
line-height: 16px;
width: 12px !important;
text-indent: 0 !important;
padding: 0 14px !important;
margin: 0 !important;
font-size: 12px !important;
text-align: center;	
	
}
.RadMenu_Moonsite .rmSeparator .rmText{
	font-size: 11px !important;
	line-height: 20px !important;
	color:#b7b7b7;
	width:4px !important;
	text-align: center;
	margin-left:3px !important;
}
.RadMenu_Moonsite .rmVertical .rmSeparator
{

	margin: 3px 0;
	border: 0;



}

.RadMenu_Moonsite .rmLeftImage
{
	margin: 2px;
}
.rmLevel1{
		left:-14px !important;
		top:4px !important	;
}
#mainnavigation .RadMenu_Moonsite .rmSlide
{


}

 .RadMenu_Moonsite .rmSlide{

 		padding:0;
 	
 }
.RadMenu_Moonsite .rmLevel1 .rmSlide{
	padding:0;
	background-image: none;
	margin-top: 0px;
}
* html .RadMenu_Moonsite .rmVertical .rmSlide
{
	margin-left: -2px;
	
	
}

* html .RadMenu_Moonsite .rmHorizontal .rmSlide
{
	margin-top: -2px;

}

.RadMenu_Moonsite_rtl .rmSlide
{
	margin: -1px 0 0 2px;

}

* html .RadMenu_Moonsite_rtl .rmVertical .rmSlide
{
	margin-left: 3px;
}

* html .RadMenu_Moonsite_rtl .rmHorizontal .rmSlide
{
	margin-top: -2px;
	margin-left: 0;
}

.RadMenu_Moonsite .rmItem .rmDisabled:hover
{
	background: none;
}


/*
     FILE ARCHIVED ON 14:37:08 Jun 14, 2017 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:39:56 Dec 03, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  CDXLines.iter: 24.828 (3)
  esindex: 0.012
  captures_list: 434.448
  LoadShardBlock: 390.024 (3)
  exclusion.robots.policy: 0.227
  PetaboxLoader3.datanode: 336.812 (5)
  exclusion.robots: 0.243
  load_resource: 352.288 (2)
  RedisCDXSource: 14.223
  PetaboxLoader3.resolve: 284.472 (2)
*/